<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >



  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <h2>Score Streak</h2>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center" >
      <ion-col class="ion-text-center">M</ion-col>
      <ion-col class="ion-text-center">M</ion-col>
      <ion-col class="ion-text-center">M</ion-col>
      <ion-col class="ion-text-center">M</ion-col>
      <ion-col class="ion-text-center">M</ion-col>
      <ion-col class="ion-text-center">M</ion-col>
      <ion-col class="ion-text-center">M</ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">✔</ion-col>
      <ion-col class="ion-text-center">✔</ion-col>
      <ion-col class="ion-text-center">✔</ion-col>
      <ion-col class="ion-text-center">✔</ion-col>
      <ion-col class="ion-text-center"> </ion-col>
      <ion-col class="ion-text-center"> </ion-col>
      <ion-col class="ion-text-center"> </ion-col>
    </ion-row>

    
  </ion-grid>

  <ion-grid class="ion-justify-content-center">

    <ion-row class="ion-align-items-center">
      <h3>French&emsp;</h3>
      <h3>Novice</h3>
    </ion-row>
    
    <ion-row class="ion-align-items-center">
        <div class="item item-text-wrap">
          <div class="loader" >
            <p class="percent" style="width: 50%;">50%</p>
          </div>
        </div>
    </ion-row>


    <ion-row class="ion-align-items-center">
      <h3>German&emsp;</h3>
      <h3>Expert</h3>
    </ion-row>
    
    <ion-row class="ion-align-items-center">
        <div class="item item-text-wrap">
          <div class="loader" >
            <p class="percent" style="width: 80%;">80%</p>
          </div>
        </div>
    </ion-row>

  </ion-grid>



</ion-content>
