<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>scenarios</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row class="ion-align-items-center">

      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="assets/img/restaurant.webp" />
          <ion-card-header>
            <ion-card-title>Ordering Food</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Practice conversation in a restaurant!
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="assets/img/restaurant.webp" />
          <ion-card-header>
            <ion-card-title>Ordering Food</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Practice conversation in a restaurant!
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
